.skills__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  background-color: rgb(221, 4, 4);
  padding: 24px;
  border-radius: 5px;
}

.skills:not(:last-child) {
  margin-bottom: 32px;
} 

.skills ul li {
  margin-top: 8px;
}

#skills {
  text-align: center;
}

#skills h1 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .skills__inner {
    flex-direction: row;
  }

  .skills:not(:last-child) {
    margin-bottom: 0;
  } 
}

@media (min-width: 769px) and (max-width: 1300px) {
  .skills__inner {
    flex-direction: column;
    margin-top: 20px;
    padding: 24px;
  }
  .skills:not(:last-child) {
    margin-bottom: 20px;
  } 
  .skills ul li {
    margin-top: 10px;
  }
  #skills {
    text-align:center;
    justify-content: space-between;
  }
  #skills h1 {
    margin-bottom: 20px;
  }
}